<div>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <p>Perfil: {{profile}}</p>

    <button id="btn-edit-profileTrainer" type="button">
        <p>Edit</p>
    </button>

    <form action="/trainer/{{_id}}/profile" method="post">
        {{#if foundTrainer}}
        <img src="{{foundTrainer.image}}" alt="">
        <label>
            Name:
             <input id="input-name-trainer" type="text" name="name" placeholder="name" value="{{foundTrainer.name}}" readonly/>
        </label>

        <label>
            Last Name:
            <input id="input-lastname-trainer" type="text" name="lastname" placeholder="name" value="{{foundTrainer.lastName}}" readonly/>
        </label>

        <label>
            Gender:
            <input id="input-gender-trainer" list="gender" type="text" name="gender" placeholder="name" value="{{foundTrainer.gender}}" readonly/>
            <datalist id="gender">
            <option value="Female">
            <option value="Male">
        </datalist>
        </label>

        <label>
            From:
            <input id="input-from-trainer" type="text" name="from" placeholder="name" value="{{foundTrainer.from}}" readonly/>
        </label>
        <label >
            Birthday:
            <input id="input-birthday-trainer" type="date" name="birthday" placeholder="name" value="{{foundTrainer.birthday}}" min="2005-01-01" max="today" readonly/>
        </label>
        <label>
            Cell Phone:
            <input id="input-cellphone-trainer" type="text" name="cellphone" placeholder="name" value="{{foundTrainer.cellPhone}}" readonly/>
        </label>

        {{else}}
        
        <img src="https://cdn0.iconfinder.com/data/icons/communication-456/24/account_profile_user_contact_person_avatar_placeholder-512.png" alt="" width="120px" height="120px">
         <label>
            Name:
             <input id="input-name-trainer" type="text" name="name" placeholder="name" value="" readonly/>
        </label>

        <label>
            Last Name:
            <input id="input-lastname-trainer" type="text" name="lastname" placeholder="name" value="" readonly/>
        </label>

        <label>
            Gender:
            <input id="input-gender-trainer" list="gender" type="text" name="gender" placeholder="name" value="" readonly/>
            <datalist id="gender">
            <option value="Female">
            <option value="Male">
        </datalist>
        </label>

        <label>
            From:
            <input id="input-from-trainer" type="text" name="from" placeholder="name" value="" readonly/>
        </label>
        <label >
            Birthday:
            <input id="input-birthday-trainer" type="text" name="birthday" placeholder="name" value="" readonly/>
        </label>
        <label>
            Cell Phone:
            <input id="input-cellphone-trainer" type="text" name="cellphone" placeholder="name" value="" readonly/>
        </label>
        {{/if}}
        <button id="update-trainer-profile" type="submit">Save</button>

    </form>

</div>
