<div class="container">
    <form action="/trainer/{{_id}}/profile" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="box">
                <div class="btn-group me-2 mb-3 mt-3" role="group" aria-label="First group">
                    <button class="btn btn-info" id="btn-edit-profileTrainer" type="button">
                        Edit
                    </button>

                </div>

                <div class="btn-group me-2 mb-3 mt-3" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-info" id="btn-update-trainer-profile" disabled>Update</button>
                </div>
                <div class="btn-group me-2 mb-3 mt-3" role="group" aria-label="First group">
                    <a href="/auth/trainer/{{_id}}/main" class="btn btn-info">return</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{#if foundTrainer}}
        <div class="col-md-6">
            <div class="box">
                <div class="card mb-3 " style="max-width: 640px;">
                    <div class="card-header">
                        Profile picture
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{foundTrainer.imageProfile}}" alt="" width="160px" height="160px"
                                class="rounded float-start rounded-circle">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">It will be shown to other users when they view your profile or your
                                    posts.</p>
                                <p class="card-text">Maximum size: 2MB</p>

                                <input type="file" class="form-control" id="input-trainer-image"
                                    name="imageProfileTrainer" id="input-image-trainer" width="50px" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 " style="width: 640px;">
                    <div class="card-header">
                        Basic information
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="tex" class="form-control" aria-describedby="emailHelp" id="input-name-trainer"
                                name="name" placeholder="name" value="{{foundTrainer.name}}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="input-lastname-trainer"
                                aria-describedby="emailHelp" name="lastName" placeholder="lastName"
                                value="{{foundTrainer.lastName}}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSelect" class="form-label">Gender</label>
                            <select class="form-select" aria-label="Default select example" name="gender"
                                id="input-gender-trainer" disabled>
                                <option selected>{{foundTrainer.gender}}</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">From</label>
                            <input class="form-control" id="input-from-trainer" type="text" name="from"
                                placeholder="from" value="{{foundTrainer.from}}" disabled />

                        </div>
                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">Birthday</label>
                            <input class="form-control" id="input-birthday-trainer" type="date" name="birthday"
                                placeholder="birthday" value="{{foundTrainer.birthday}}" disabled />
                        </div>

                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">Cell Phone</label>
                            <input class="form-control" id="input-cellphone-trainer" type="text" name="cellPhone"
                                placeholder="cellphone" value="{{foundTrainer.cellPhone}}" disabled />
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="card mb-3" style="width: 640px;">
                    <div class="card-header">
                        Professional information
                    </div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">Training</label>
                            <input class="form-control" id="input-training-trainer" type="text" name="training"
                                placeholder="training" value="{{foundTrainer.training}}" disabled />
                            </label>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">Description</label>
                            <textarea type="text" class="form-control" aria-label="With textarea"
                                id="input-description-trainer" name="description"
                                disabled>{{foundTrainer.description}}</textarea>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInput" class="form-label">consultation price</label>
                            <input type="text" class="form-control" aria-label="With textarea" id="input-price-trainer"
                                name="price" value="{{foundTrainer.price}}" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="width: 640px;">
                    <div class="card-header">
                        Certifications
                    </div>
                    <div class="card-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Intitution</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {{#each foundTrainer.courses}}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{title}}</td>
                                    <td>{{institution}}</td>
                                    <td><a href="#" class="btn btn-info" tabindex="-1" role="button"
                                            aria-disabled="true">detail</a></td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>

                        <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="CreateModal"
                            aria-hidden="true">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                   <!-- {{> coursesTrainer}}-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Add Certifications
                        </button>
                    </div>
                </div>
                {{else}}
                <div class="col">
                    <div class="box">
                        <div class="card mb-3 " style="max-width: 640px;">
                            <div class="card-header">
                                Profile picture
                            </div>
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{foundTrainer.imageProfile}}" alt="" width="160px" height="160px"
                                        class="rounded float-start rounded-circle">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-text">It will be shown to other users when they view your profile
                                            or your
                                            posts.</p>
                                        <p class="card-text">Maximum size: 2MB</p>

                                        <input type="file" class="form-control" id="input-trainer-image"
                                            name="imageProfileTrainer" id="input-image-trainer" width="50px">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3 " style="width: 640px;">
                            <div class="card-header">
                                Basic information
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Name</label>
                                    <input type="tex" class="form-control" aria-describedby="emailHelp"
                                        id="input-name-trainer" name="name" placeholder="name" value="" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="input-lastname-trainer"
                                        aria-describedby="emailHelp" name="lastName" placeholder="lastName" value=""
                                        disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputSelect" class="form-label">Gender</label>
                                    <select class="form-select" aria-label="Default select example" name="gender"
                                        id="input-gender-trainer" disabled>
                                        <option selected></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">From</label>
                                    <input class="form-control" id="input-from-trainer" type="text" name="from"
                                        placeholder="from" value="" disabled />

                                </div>
                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">Birthday</label>
                                    <input class="form-control" id="input-birthday-trainer" type="text" name="birthday"
                                        placeholder="birthday" value="" disabled />
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">Cell Phone</label>
                                    <input class="form-control" id="input-cellphone-trainer" type="text"
                                        name="cellPhone" placeholder="cellphone" value="" disabled />
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="box">
                        <div class="card mb-3" style="width: 640px;">
                            <div class="card-header">
                                Professional information
                            </div>
                            <div class="card-body">

                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">Training</label>
                                    <input class="form-control" id="input-training-trainer" type="text" name="training"
                                        placeholder="training" value="" disabled />
                                    </label>
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">Description</label>
                                    <textarea type="text" class="form-control" aria-label="With textarea"
                                        id="input-description-trainer" name="description" disabled></textarea>
                                    </label>
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInput" class="form-label">consultation price</label>
                                    <input type="text" class="form-control" aria-label="With textarea"
                                        id="input-price-trainer" name="price" value="" disabled>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>

            {{#if errorMessage}}
            <p class="text-danger">{{errorMessage}}</p>

            {{/if}}
            </form>
        </div>