<div>
<div>
  <h1>patient</h1>
  <p>{{username}}</p>
  <a href="/patient/{{_id}}/profile">profile</a>
</div>

<div>
   {{#each foundTrainers}}
    <div>
      <img src="img" alt="" width="60px" height="60px">
      <p>{{name}} {{lastName}}</p>
      <p>{{gender}}</p>
      <p>{{from}}</p>
      <p>{{training}}</p>
      <a href="/patient/{{_id}}/detailTrainer">details</a>
    </div>
    {{/each}}

    
</div>
</div>
